@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin std-btn {
	width: 400px;
	@media (max-width: calc(400px * 13/12)) {
		@apply w-11/12;
	}
}

.btn {
	/* by default, render a full-width button */
    @apply relative my-1 h-10;
	@include std-btn;

	/* half-width button: assume that the parent div has a calculated width */
	&.half {
		width: 196px;
		@media (max-width: 433px) {
			width: calc((100% - 8px) / 2);
		}
	}

	> .b-text {
		@apply absolute top-1/2 left-1/2 overflow-hidden whitespace-nowrap;
		transform: translateX(-50%) translateY(-50%) translateY(-1px);
		text-shadow: 2px 2px #3f3f3f;
	}

	> .b-bg {
		@apply flex flex-row w-full h-full;
	
		> div {
			@apply w-1/2 h-full;
			image-rendering: pixelated;
			background-image: url('../assets/btn.webp');
			background-size: auto 300%;
			
			&.b-left {
				background-position: left 0% top -100%;
			}
			
			&.b-right {
				background-position: right 0% top -100%;
			}
		}
	}

	&:hover {
		> .b-bg > div {
			&.b-left {
				background-position: left 0% top -200%;
			}
			
			&.b-right {
				background-position: right 0% top -200%;
			}
		}
	}

	&.disabled {
		> .b-bg > div {
			&.b-left {
				background-position: left 0% top 0%;
			}
			
			&.b-right {
				background-position: right 0% top 0%;
			}
		} 
		
		> .b-text {
			color: grey;
		}
	}
}