@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply my-1 relative w-[400px] h-10;
	@media (max-width: 433px) {
		@apply w-11/12;
	}

	> .b-text {
		@apply absolute top-1/2 left-1/2 overflow-hidden whitespace-nowrap;
		transform: translateX(-50%) translateY(-50%) translateY(-1px);
		text-shadow: 2px 2px #3f3f3f;
	}

	> .b-bg {
		@apply flex flex-row w-full h-full;
	
		> div {
			@apply w-1/2 h-full;
			image-rendering: pixelated;
			background-image: url('../assets/btn.webp');
			background-size: auto 300%;
			
			&.b-left {
				background-position: left 0% top -100%;
			}
			
			&.b-right {
				background-position: right 0% top -100%;
			}
		}
	}

	&:hover {
		> .b-bg > div {
			&.b-left {
				background-position: left 0% top -200%;
			}
			
			&.b-right {
				background-position: right 0% top -200%;
			}
		}
	}

	&.disabled {
		> .b-bg > div {
			&.b-left {
				background-position: left 0% top 0%;
			}
			
			&.b-right {
				background-position: right 0% top 0%;
			}
		} 
		
		> .b-text {
			color: grey;
		}
	}
}