@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply bg-slate-400 hover:bg-slate-300 text-white my-1 relative w-[400px] h-10;

	> .text {
		@apply absolute top-1/2 left-1/2;
		transform: translateX(-50%) translateY(-50%) translateY(-2px);
		text-shadow: 2px 2px #3f3f3f;
	}

	> .bg {
		@apply flex flex-row w-full h-full;
	
		> div {
			@apply w-1/2 h-full;
			image-rendering: pixelated;
			background-image: url('~/public/assets/gui/btn-enabled.webp');
			background-size: auto 100%;

			&.left {
				background-position: left;
			}
			
			&.right {
				background-position: right;
			}
		}
	}

	&:hover {
		> .bg > div {
			background-image: url('~/public/assets/gui/btn-hover.webp');
		}
	}

	&.disabled {
		> .bg > div {
			background-image: url('~/public/assets/gui/btn-disabled.webp');
		} 
		
		> .text {
			color: grey;
		}
	}
}




/* .btn.bg {
	@apply w-1/2;
}

.btn.bg.left {
	@apply bg-red-400;
}

.btn.bg.right {
	@apply bg-green-400;
} */