@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply text-white w-[540px] h-[72px] flex flex-row p-1;
    @media (max-width: 585px) {
        @apply w-11/12;
    }

    > .thumb {
        @apply bg-gray-600 w-[64px] h-[64px] flex-shrink-0 relative;

        > div {
            @apply h-full w-full absolute bg-contain;
            image-rendering: pixelated;

            &.hover {
                z-index: 101;
            }

            &.base {
                z-index: 100;
            }
        }
    }

    &:hover > .thumb {
        > .hover {
            background: url('../assets/card_select.webp');
            background-size: 200% 100%;
        }

        &:hover > .hover {
            background-position: right 0%;
        }
    }

    > .text {
        @apply pl-1.5 -translate-y-0.5;
        width: calc(100% - 64px);

        > div {
            @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
            width: 100%;

            &.subtitle {
                @apply text-gray-400 -translate-y-0.5;
            }
        }
    }

    &.selected {
        box-shadow: inset 0 0 0 2px #aaa;
    }
}

