

@tailwind base;
@tailwind components;
@tailwind utilities;

div.download-card {
    @apply w-full h-[56px] flex flex-row p-[4px] bg-teal-900 my-2;

    &:hover {
        @apply bg-teal-700;

        > .d-btn {
            @apply opacity-100;
        }
    }

    > .d-btn {
        @apply w-[48px] h-full mr-[2px] opacity-75;
        background: url('../assets/download.webp') no-repeat center/36px;
        image-rendering: pixelated;
    }

    > .d-info {
        @apply h-full ml-[2px] flex flex-col justify-center px-[2px];
        width: calc(100% - 52px);

        > .d-display {
            @apply whitespace-nowrap overflow-hidden;
        }

        > .d-last-modified {
            @apply text-gray-300;
            font-size: 12px;
        }
    }
}