---
import Socials from "./Socials.astro";
---

<footer class="mt-auto">
  <hr />
  <div class="footer-wrapper">
    <Socials centered />
  </div>
</footer>

<style lang="scss">
  footer {
    width: 100%;
    margin-top: auto;
  }
  hr {
    border-color: rgba(var(--color-border));
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  @media (min-width: 640px) {
    .footer-wrapper {
      flex-direction: row-reverse;
      padding: 1rem 0;
    }
  }
</style>
