---
import { SITE } from "@config";
---

<header>
  <div class="nav-container">
    <a href="/" class="logo">
      {SITE.title}
    </a>
  </div>
</header>

<style lang="scss">
  header {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
  }
</style>
