---
export interface Props {
  href: string;
  class?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const {
  href,
  class: className,
  ariaLabel,
  title,
  disabled = false,
} = Astro.props;
---

<a
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class={`link-button group ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
>
  <slot />
</a>

<style lang="scss">
  .link-button {
    display: inline-block;

    &:hover {
      color: rgba(var(--color-accent));
    }
  }
</style>
