---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class:list={["social-icons", { centered }]}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        class="social-link"
        title={social.linkTitle}
      >
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }
</div>

<style lang="scss">
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
  .social-icons.centered {
    justify-content: center;
  }
  .social-link {
    transition: transform 0.1s ease-out;

    &:hover {
      transform: rotate(-6deg);
    }
  }
</style>
