---
import Projects from "@layouts/Projects.astro";
import LinkButton from "../../components/LinkButton.astro";
---

<Projects>
  Under construction - check out my projects on my
  <LinkButton href="https://github.com/cathaypacific8747">Github</LinkButton> profile
  instead!
  <ul>
    <li>
      (2023) fr24: Download and parse data from flightradar24.com with
      gRPC/JSON.
    </li>
    <li>
      (2021) am4: Discord bot and various utilities for the game Airline Manager
      4.
    </li>
    <li>
      (2021) swappy: Online bookselling platform, product of CKY Hackathon 2021.
    </li>
    <li>
      (2020) cky-bus: Website to query real-time ETAs for 81/72 buses at CKY.
    </li>
  </ul>
</Projects>
