@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Minecraft;
    src: url('~/public/assets/gui/font.woff2');
}

body, html, div#root {
    @apply p-0 m-0 select-none w-full h-full text-white text-[16px];
    font-family: 'Minecraft', sans-serif;
}