@tailwind base;
@tailwind components;
@tailwind utilities;

div.paper-detail-screen {
    @apply w-full h-full flex flex-col items-center justify-end bg-gray-800;
    
    > .header {
        @apply flex flex-col justify-center text-center my-4;
        min-height: 82px;
    }

    > .detail {
        @apply w-full bg-black bg-opacity-50;
        height: calc(100% - 16% - 82px - 16px*2);
    }

    > .footer {
        @apply flex flex-col justify-center;
        height: 16%;
    }

    /* LOADING */
    &.loading > .header {
        @apply text-gray-500;
    }

    /* NOT FOUND */
    &.not-found > .header {
        @apply text-red-300;
    }

    /* SUCCESS */
    &.success {
        > .header {
            > .title {
                @apply text-teal-100 mb-1;
            }

            > .authors, .published, .doi {
                @apply text-gray-300;
                font-size: 12px;
            }
        }

        > .detail {
            $pane2-width: 340px;
            $pane-pad: 1.5rem;
            @apply flex flex-row justify-start p-3;

            > .pane-1 {
                @apply h-full p-3 overflow-y-auto;
                width: calc(100% - $pane2-width);

                > .abstract, >.information {
                    @apply mb-2;
                }
            }

            > .pane-2 {
                @apply h-full p-3 overflow-y-auto;
                width: $pane2-width;
            }

            @media (max-width: calc(2*$pane2-width + 3*$pane-pad)) {
                @apply flex-col overflow-y-auto;

                > .pane-1, > .pane-2 {
                    @apply w-full;
                    height: unset;
                    overflow-y: unset;
                    margin-right: unset;
                }
            }
        }
    }

    div.link {
        @apply inline-block underline underline-offset-2;

        > div {
            @apply inline-block;
            background: url('assets/link.webp') no-repeat;
            background-size: cover;
            image-rendering: pixelated;
        }

        &.small > div {
            @apply w-[11px] h-[11px] ml-1 mr-0.5 opacity-70;
        }

        &.big > div {
            @apply w-[16px] h-[16px] ml-2 mr-1;
        }
    }
}

div.heading {
    @apply mb-2 text-[18px] text-teal-200 border-b-2 border-b-teal-200;

    &.pad {
        @apply mt-4
    }
}