---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import type { CollectionEntry } from "astro:content";

// export interface Props {
//   pageNum: number;
//   totalPages: number;
//   projects: CollectionEntry<"projects">[];
// }

// const { pageNum, totalPages, projects } = Astro.props;

// const prev = pageNum > 1 ? "" : "disabled";
// const next = pageNum < totalPages ? "" : "disabled";
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects">
    <slot />
  </Main>

  <Footer noMarginTop={false} />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
